.bar {
  width: 36px;
  height: 18px;
  background-color: #dadee3;
  border-radius: 100px;

  /* align-self: center; */
}

.bar_state {
  height: 18px;
  width: 18px;
  border-radius: 100px;

  transition: transform 500ms;
}

.bar_state_true {
  background-color: #0f6eff;
}

.bar_state_true > div {
  transform: translateX(115%);
  background-color: white;
  border: 1px solid #0f6eff;
}

.bar_state_false {
  background-color: #dadee3;
}

.bar_state_false > div {
  transform: translateX(0);
  background-color: white;
  border: 1px solid #dadee3;
}

.bar_state_false + .bar_state {
  color: white;
}

@media (max-width: 600px) {
  .bar {
    position: absolute;
    right: 5vw;
  }
}
